.SearchResults {
  width: 40vw;
  height: 70vh;
  padding: 17px;
  background-color: rgba(44, 25, 53, 0.7);
  box-shadow: 0 4px 2px 2px #000000;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@media only screen and (max-width: 900px) {
  .SearchResults {
    width: 70vw;
  }
}
@media only screen and (min-width: 1400px) {
  .SearchResults {
    width: 25vw;
  }
}
