.SearchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 1rem;
  margin-bottom: 2.5rem;
}

.SearchBar input {
  width: 287px;
  padding: 0.88rem 0;
  border: 1px solid #fff;
  border-radius: 3px;

  color: #ffffff;
  text-align: center;
  font-size: 1rem;
  box-shadow: 2px 2px 5px -2px #00000075;
  background-color: hsla(281, 36%, 15%, 0.702);
}

.SearchBar input:focus {
  outline: none;
}

.SearchButton {
  cursor: pointer;
  width: 8.11rem;
  padding: 0.77rem 0;
  border-radius: 54px;
  background-color: #de41ec;
  text-align: center;
  font-size: 0.833rem;
  transition: background-color 0.25s;
  border: 0px;
  color: #fff;
  font-weight: 500;
}

.SearchButton:hover {
  background-color: rgba(108, 65, 233, 0.7);
}

@media only screen and (max-width: 500px) {
  .SearchBar {
    flex-direction: column;
  }
}
